<!DOCTYPE HTML>
<html>
    <body>
        <form method="post">
    {% if message %}
      <h4>{{ message }}</h4>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

            <input type="text" name="email" placeholder="Email" required>
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>