<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="urf-8">
		<title>Register Form</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
	</head>
	<body>

<form class="box" method="post">
	<h1>Create your acount</h1>

	    <!-- Error message prints here-->
    {% if message %}
      <h4>{{ message }}</h4>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

	  <input type="text" name="email" placeholder="Email" required="required">
    <input type="password" name="password" placeholder="Password" required="required">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
	  <input type="submit" name="register" value="Register">
	  <input type="submit" name="back" value="Back to homepage" formnovalidate>
</form>
	</body>
</html>