<!DOCTYPE html>
<html lang="en" dif="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='backup.css') }}">
  <title>Upload new File</title>
</head>
  <body>
    <h1>Upload new File</h1>
    {% if message %}
      <h4>{{ message }}</h4>
    {% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    </body>
</html>
